fastapi~=0.104.1
python-jose
passlib~=1.7.4
uvicorn
pydantic~=2.5.1
status~=0.2.5
python-multipart
bcrypt
jose~=1.0.0
pydantic[email]
requests~=2.31.0
hvac~=2.3.0
pip~=24.0
fastapi_utils
aiomysql~=0.2.0
mysql~=0.0.3
mysql-connector-python~=9.0.0
cryptography